<html lang="en">
    <head>
        <title>Project primers</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: white;
                text-align: center;
            }
            .button {
                background: #0070f3;
                border: 1px solid #0070f3;
                color: white;
                width: 150px;
                display: block;
                text-align: center;
                padding: 1rem;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Nunito Sans';
                margin: auto;
                margin-top: 3rem;
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <p>
            Hello <b><%= user.firstName + ' ' + user.lastName %></b>. <br><br>

            Your account has been created. <br><br><br>
            Please click on the button below to activate your account

            <a href="#" class="button">Activate</a>
        </p>
    </body>
</html>