<html lang="en">
    <head>
        <title>Project primers</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
        <style>
            body{
                background-color: white;
            }
        </style>
    </head>

    <body>
        <h1>Password reset</h1>
    </body>
</html>